<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <link rel="manifest" href="manifest.json">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="theme-color" content="#5d4b75"/>

    <link rel="apple-touch-icon" href="img/icons/apple-icon-180x180-dunplab-manifest-14905.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="MVAM Translate">
    <meta name="msapplication-TileImage"
          content="img/icon/apple-icon-180x180-dunplab-manifest-14905.png">
    <meta name="msapplication-TileColor" content="#5d4b75">
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %>
        doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
