<template>
  <section class="section">
    <div class="container">
      <h1 class="title is-1">Meer informatie</h1>
      <h2 class="subtitle is-4">Technische proef Lukas Grisar -
        <abbr title="Mercier Vanderlinden Asset Management">MVAM</abbr>.</h2>
      <p></p>

      <h2 class="title is-2">Frontend</h2>
      <h2 class="subtitle is-4">
        <a href="https://gitlab.com/Grazn/mvam-translate-client"
           title="Gitlab link to client page" target="_blank" rel="noopener noreferrer nofollow">
          <font-awesome-icon :icon="['fab', 'gitlab']"/>
          gitlab.com/Grazn/mvam-translate-client
        </a>
      </h2>

      <p>Deze frontend is geschreven in
        <a href="https://vuejs.org/" title="Vue.js"
           target="_blank" rel="noopener noreferrer nofollow">Vue.js</a>
        framework en maakt gebruik van het
        <a href="https://buefy.org/" title="Buefy"
           target="_blank" rel="noopener noreferrer nofollow">Buefy</a>
        css framework. </p>

      <p></p>

      <h5 class="title is-4">Deployment</h5>
      <p>Om de frontend te deployen is enkel een simpele webserver nodig zoals bijvoorbeeld
        NGINX of Apache HTTP server. Maak met onderstaand commando een build van de applicatie.
      </p>

      <p>
        <code>npm run build</code>
      </p>

      <p>Dit commando cre&euml;ert een <code>dist</code> map die dan in de root van de webserver
        dient geplaatst te worden. Dit proces kan geautomatiseerd worden met behulp van de
        Gitlab CI/CD pipelines.</p>

      <p>Opdat de HTML5 geschiedenismodus goed zou werken, moet de serverconfiguratie juist gezet
        worden. Voor een Apache server is er een .htaccess bestand beschikbaar. Voor andere servers
        vindt u meer uitleg
        <a href="https://router.vuejs.org/guide/essentials/history-mode.html#example-server-configurations"
           title="Hoe history mode doen werken" target="_blank" rel="noopener noreferrer nofollow">
          op deze link
        </a>.
      </p>

      <h2 class="title is-2">Backend</h2>
      <h2 class="subtitle is-4">
        <a href="https://gitlab.com/Grazn/mvam-translate-server"
           title="Gitlab link to server page" target="_blank" rel="noopener noreferrer nofollow">
          <font-awesome-icon :icon="['fab', 'gitlab']"/>
          gitlab.com/Grazn/mvam-translate-server
        </a>
      </h2>
      <p>De backend is geschreven in
        <a href="https://www.python.org/" title="python" target="_blank"
           rel="noopener noreferrer nofollow">Python</a> en maakt gebruik van het
        <a href="https://palletsprojects.com/p/flask/" title="Flask web framework" target="_blank"
           rel="noopener noreferrer nofollow">Flask web framework</a>.</p>

      <p>Deze server voorziet 1 api endpoint <code>/translate</code> die een <code>POST</code>
        request verwacht. De body van deze request is een JSON met onderstaande structuur:</p>
      <pre>{
  "source_lang": "taal code",
  "target_lang": "taal code",
  "text": "text"
}</pre>

      <p><code>source_lang</code> en <code>source_lang</code> moeten een geldige taalcode zijn.
        Een lijst van taalcodes kan u vinden
        <a href="https://py-googletrans.readthedocs.io/en/latest/#googletrans-languages"
           title="Overzicht van ondersteunde taalcodes" target="_blank"
           rel="noopener noreferrer nofollow">op deze link</a>. <code>text</code> mag gelijk welke
        platte tekst zijn die vertaald moet worden met een maximum lengte van 5000 karakters.
      </p>

      <p>De vertaling wordt voorzien door de
        <a href="https://translate.google.com/" title="Google translate"
           target="_blank" rel="noopener noreferrer nofollow">Google Translate AJAX API</a>
        met behulp van de
        <a href="https://pypi.org/project/googletrans/" title="googletrans"
           target="_blank" rel="noopener noreferrer nofollow">googletrans</a> python bibliotheek.
      </p>

      <h5 class="title is-4">Deployment</h5>
      <p>Om deze server zo vlot mogelijk te deployen, kan het best gebruik gemaakt worden van een
        <a href="https://www.docker.com/" title="Docker"
           target="_blank" rel="noopener noreferrer nofollow">Docker</a> container.
        Een Dockerfile is voorzien om snel te deployen.
      </p>

      <p>De dockerimage kan snel gebouwd worden met onderstaand commando:</p>

      <p><code>sudo docker build -t mvam-translate:latest .</code></p>

      <p>
        Het script <code>update.sh</code> gaat de laatste master versie op Gitlab ophalen,
        een nieuw dockerimage bouwen en runnen op dezelfde server. De api zal dan draaien op
        poort 9999.
      </p>

      <h2 class="title is-2">Configuratie</h2>
      <p>Enkele parameters moeten veranderd worden wanneer gedeployed wordt op een nieuw domein.</p>

      <h4 class="title is-4">Frontend</h4>
      <p>In de frontend moet enkel de API url aangepast worden. Deze parameter kan aangepast
        worden in <code>.env.production</code>.
      </p>

      <div class="message">
        <div class="message-header">
          .env.production
        </div>
        <div class="message-body">
          VUE_APP_API_BASE_URL=&lt;nieuwe url&gt;
        </div>
      </div>

      <h4 class="title is-4">Backend</h4>
      <p>In de backend moet de nieuwe frontend url toegestaan worden door CORS. Voeg alle mogelijke
        frontend urls toe aan de parameter <code>CORS_URLS</code> in <code>config.py.prod</code>.
      </p>

      <div class="message">
        <div class="message-header">
          config.py.prod
        </div>
        <div class="message-body">
          class Config(object):<br>
          <span class="tab"></span>DEVELOPMENT = False<br>
          <br>
          <span class="tab"></span>CORS_URLS = ['&lt;url 1&gt;', '&lt;url 2&gt;']<br>
        </div>
      </div>

    </div>
  </section>
</template>
