<template>
  <b-autocomplete
    v-model="name"
    :keep-first="true"
    :open-on-focus="true"
    :data="filtered"
    field="name"
    @select="onSelect"
    :clearable="false"
  >
  </b-autocomplete>
</template>

<script>

const languages = require('@/data/languages.json');

export default {
  name: 'LanguageSelect',
  props: ['value'],
  data() {
    return {
      languages,
      selected: this.value,
      name: this.value.name,
    };
  },
  computed: {
    filtered() {
      // Filter languagues which contain search string
      return this.languages.filter((lang) => (
        lang.name
          .toLowerCase()
          .indexOf(this.name.toLowerCase()) >= 0
      ));
    },
  },
  methods: {
    onSelect(option) {
      // null selection not allowed
      if (option != null) {
        this.selected = option;
        this.$emit('input', this.selected);
      }
    },

    setValue(newValue) {
      this.selected = newValue;
      this.name = newValue.name;
    },
  },
};
</script>

<style scoped>

</style>
