<template>
  <section>
    <div class="container translate">
      <div v-if="isOffline" class="hero is-warning">
        <div class="hero-body">
          <div class="container">
            Geen netwerkverbinding!
          </div>
        </div>
      </div>
      <div class="langSelect">
        <!--        <div class="level-item"><h1>{{ sourceLang }}</h1></div>-->
        <div class="flex-grow">
          <b-field label="">
            <LanguageSelect ref="sourceSelect" v-model="sourceLang"/>
          </b-field>
        </div>
        <div class="switch-button">
          <b-button @click="changeLang">
            <font-awesome-icon icon="exchange-alt"/>
          </b-button>
        </div>
        <div class="flex-grow">
          <b-field label="">
            <LanguageSelect ref="targetSelect" v-model="targetLang"/>
          </b-field>
        </div>
      </div>
      <div class="flex langInput">
        <div class="flex-grow">
          <b-field>
            <b-input type="textarea" placeholder="Typ hier"
                     autofocus v-model="source"></b-input>
          </b-field>
        </div>
        <div class="flex-grow">
          <b-field>
            <b-input readonly="True" type="textarea" v-model.lazy="target"
                     placeholder="Vertaling"></b-input>
          </b-field>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import _ from 'lodash';
import LanguageSelect from '@/components/LanguageSelect.vue';

const languages = require('@/data/languages.json');

export default {
  name: 'Translate',
  components: { LanguageSelect },
  data() {
    return {
      languages,
      sourceLang: languages[0], // NL
      targetLang: languages[1], // FR
      source: '',
      target: '',
      loading: false,
    };
  },
  watch: {
    source: {
      handler() {
        this.debouncedTranslate();
      },
    },
    sourceLang: {
      handler() {
        this.debouncedTranslate();
      },
    },
    targetLang: {
      handler() {
        this.debouncedTranslate();
      },
    },
  },
  methods: {
    changeLang() {
      let temp = this.targetLang;
      this.targetLang = this.sourceLang;
      this.sourceLang = temp;

      this.$refs.sourceSelect.setValue(this.sourceLang);
      this.$refs.targetSelect.setValue(this.targetLang);

      temp = this.source;
      this.source = this.target;
      this.target = temp;

      this.debouncedTranslate();
    },

    // eslint-disable-next-line func-names
    debouncedTranslate: _.debounce(function () {
      this.translate();
    }, 333),

    translate() {
      if (this.source === '') {
        this.target = '';
        return;
      }

      if (this.sourceLang.code === this.targetLang.code) {
        this.target = this.source;
        return;
      }

      const data = {
        source_lang: this.sourceLang.code,
        target_lang: this.targetLang.code,
        text: this.source,
      };

      this.loading = true;
      this.target += '...';

      fetch(`${process.env.VUE_APP_API_BASE_URL}/translate`, {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((responseData) => {
          this.target = responseData.text;
        })
        .catch(() => {
          // console.log(error);
          this.target = 'Kon data niet ophalen';
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
