@import "~bulma/sass/utilities/_all"

$primary: #5d4b75

section > div, section .container p, section code
  margin-bottom: 1em

.tab
  width: 1em
  display: inline-block

.translate
  margin-top: 8px
  border-radius: 4px
  //border: 1px solid black
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.81)
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.81)
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.81)

  font-size: larger

.flex
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-content: center

  .flex-grow
    flex-grow: 1

.textarea
  border-radius: 0
  min-height: 100%

.langSelect
  background-color: $primary
  padding: 0.5em
  display: flex
  flex-wrap: nowrap
  flex-direction: row
  justify-content: space-around

  .field
    width: 10em
    height: 2em
    margin: auto

@media only screen and (max-width: 500px)
  .langSelect
    display: flex
    flex-direction: column
    flex-wrap: wrap

    height: 6em

    .flex-grow
      width: 80%
      padding: .25em

    .field
      width: 100%

  .switch-button
    order: -1
    height: 100%
    width: 20%

    .button
      width: 100%
      height: 100%
    //width: 20%

.langInput
  div
    min-width: 20em

    textarea
      border-radius: 0
